legend {
  font-weight: bold;
  text-align: center;
}

span {
  display: block;
  margin-top: 3px;
  font-size: 13px;
  color: rgb(48, 48, 130);
  font-style: italic;
}

.name-text {
  color: red;
}

.btn {
  text-align: center;
}
